In [178]:
-- Feladat 1. Moodle-ben elerheto elveszett az itteni fileban a megoldasom

Foglalás szám,Szállás neve
52,Családi Ház

In [158]:
-- Feladat 2. Nincs elkeszitve

SZALLAS_ID
2

In [141]:
-- Feladat 3. Csak a git-ben elerheto

SELECT 
SUM(f.FELNOTT_SZAM + f.GYERMEK_SZAM) as "Foglalás szám",
(
    SELECT SZALLAS_NEV FROM Szallashely as sa3 WHERE sa3.SZALLAS_ID = sa.SZALLAS_ID
) as 'Szállás neve'
FROM Foglalas as f 
LEFT JOIN Szoba as s on f.SZOBA_FK = s.SZOBA_ID
LEFT JOIN Szallashely as sa on s.SZALLAS_FK = sa.SZALLAS_ID
WHERE sa.SZALLAS_ID IN (
   SELECT TOP 1
    sa2.SZALLAS_ID
    FROM Foglalas as f2 
    LEFT JOIN Szoba as s2 on f2.SZOBA_FK = s2.SZOBA_ID
    LEFT JOIN Szallashely as sa2 on s2.SZALLAS_FK = sa2.SZALLAS_ID
    GROUP BY sa2.SZALLAS_ID
    ORDER BY SUM(f2.FELNOTT_SZAM + f2.GYERMEK_SZAM) ASC
)
GROUP BY sa.SZALLAS_ID
ORDER BY SUM(f.FELNOTT_SZAM + f.GYERMEK_SZAM) ASC

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near '1'.